*.sqlite
2017_NEI_Facilities.csv
Traffic_Volumes_AADT.*
*.nc4
BC_Facility.csv
BC_Facility_Traffic.csv
BC_Facility_Traffic_Trimmed.csv
BC_Facility_Trimmed.csv
Facility_PM.csv
Facility_PM_updated.csv
eis-source-type-mapping.csv
All_PM_Facilities_Final.csv
BC_Facility_Dist_ALL.csv
BC_Facility_EmsDist_ALL.csv
BC_Facility_EmsDist_Inputs.csv
Unused-data
All_NO2_Facilities_Final.csv
NO2_Facility_EmsDist_ALL.csv
NO2_Facility_EmsDist_Inputs.csv
Combined_BC_Dist.csv
Combined_NO2_Dist.csv
NO2_Facility_Data.csv
PM_Facility_Data.csv
all_traffic_intersections.csv
Traffic_score.csv
Traffic_score_2000.csv
MetStations_CA.csv
