*.sqlite
2017_NEI_Facilities.csv
Traffic_Volumes_AADT.*
*.nc4
BC_Facility.csv
BC_Facility_Traffic.csv
BC_Facility_Traffic_Trimmed.csv
BC_Facility_Trimmed.csv
Facility_PM.csv
Facility_PM_updated.csv
eis-source-type-mapping.csv



