*.sqlite
2017_NEI_Facilities.csv
Traffic_Volumes_AADT.*
*.nc4
BC_Facility.csv
BC_Facility_Traffic.csv
BC_Facility_Traffic_Trimmed.csv
BC_Facility_Trimmed.csv
Facility_PM.csv
Facility_PM_updated.csv
eis-source-type-mapping.csv
All_PM_Facilities_Final.csv
BC_Facility_Dist_ALL.csv
BC_Facility_EmsDist_ALL.csv
BC_Facility_EmsDist_Inputs.csv
Unused-data
All_NO2_Facilities_Final.csv
NO2_Facility_EmsDist_ALL.csv
NO2_Facility_EmsDist_Inputs.csv
Combined_BC_Dist.csv
Combined_NO2_Dist.csv
NO2_Facility_Data.csv
PM_Facility_Data.csv
all_traffic_intersections.csv
Traffic_score.csv
Traffic_score_2000.csv
MetStations_CA.csv
BC_dist_highway.csv
NO2_dist_highway.csv
PM_Facility_Data.csv
highway_locations.csv
wind.mon.mean.nc
NO2_Facility_Data.csv
Combined_BC_EmsDist.csv
Combined_NO2_EmsDist.csv
BC_input.csv
NO2_input.csv
1554739630_linear_regression.zip
BC_PM_Facilities_High_Dist.csv
BC_input_clustered.csv
NO2_Facilities_High_Centroid.csv
NO2_NO2_Facilities_High_Dist.csv
NO2_input_clustered.csv
PM_Facilities_High_Centroid.csv
1574697173_logistic_regression.zip
1479758358_clustering.zip
BC_All_Facilities_input.csv
BC_feature_importance.csv
BC_feature_importance_All_Facilities.csv
NO2_All_Facilities_input.csv
NO2_feature_importance.csv
NO2_feature_importance_All_Facilities.csv
Capstone1/Idea3/Oakland-shapefile/City of Oakland City Limits/
Capstone1/Idea3/Data/Raw-data/

